.content-manager {
    padding: 2rem;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.add-subject {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 0.5rem;
    width: 100%;
    padding: calc(1rem - 2px);
    border: 2px solid var(--color-1);
}
