.folder {
    display: grid;
    grid-template-columns: 2rem 1fr auto;
    align-items: center;

    &--label {
        display: contents;

        & > div {
            padding: 6px 0px;
        }

        &:hover {
            & > div {
                background: var(--color-2);
            }

            .folder__controls {
                opacity: 1;
            }
        }
    }

    &--name {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    &--name--editing {
        background: transparent;
        border: 2px solid var(--color-2);
        color: var(--color-5);
        width: 100%;

        &:focus {
            border-color: var(--accent-color);
        }
    }

    &--save-button {
        place-self: stretch;
        display: flex;
        place-content: center;

        button {
            padding: 6px;
            border: 2px solid var(--color-5);
        }
    }

    &__controls {
        place-self: stretch;

        display: grid;
        grid-template-columns: repeat(6, 1.5rem);
        column-gap: 0.5rem;
        place-items: center;
        opacity: 0;

        span {
            font-size: 100%;
        }
    }

    &--expand-button {
        font-size: 100%;

        &.open {
            transform: rotate(90deg);
        }
    }

    &--rule {
        place-self: stretch center;
        width: 2px;
        padding: 4px 0px;
        background: var(--color-2);
    }

    &__children {
        grid-column: 2 / 4;
    }
}

.folder.collapsed {
    .folder--rule,
    .folder__children {
        position: fixed;
        display: none;
    }
}
