@font-face {
    src: url('/Inter-VariableFont_slnt,wght.ttf');
    font-family: 'Inter';
    font-weight: 100 900;
}

html {
    --color-5: #f0ebe6;
    --color-4: #d9d5d0;
    --color-3: #888784;
    --color-2: #464847;
    --color-1: #212423;

    background: var(--color-5);
    color: var(--color-1);
}

body {
    margin: 0px;
}

p,
a,
i,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
input {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0px;
    hyphens: manual;
}

a {
    text-decoration: underline;
    cursor: pointer;
    font-family: inherit;
}

h1 {
    font-weight: 800;
}

button {
    font-size: inherit;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: inherit;
    padding: 0px;
    line-height: 0;
    border-radius: 0px;
}

input {
    font-size: inherit;
    outline: none;
    border-radius: 0px;
    border: 2px solid var(--color-1);
    box-sizing: border-box;
}
