@font-face {
    src: url('/Inter-VariableFont_slnt,wght.ttf');
    font-family: 'Inter';
    font-weight: 100 900;
}

html {
    --color-4: #f0ebe6;
    --color-3: #c9c7c2;
    --color-2: #313332;
    --color-1: #212423;
    --color-0: #0e0e0e;

    background: var(--color-4);
    color: var(--color-1);
}

body {
    margin: 0px;
}

p,
a,
i,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0px;
    hyphens: manual;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    font-weight: 800;
}
